In [18]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
companiesRaw = pd.read_csv('companies_raw.csv')

/Users/ksopin/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (41,42,43,44,45,46,47,48,49,50,51,52) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
companiesRaw.columns

Index(['CompanyName', ' CompanyNumber', 'RegAddress.CareOf',
       'RegAddress.POBox', 'RegAddress.AddressLine1',
       ' RegAddress.AddressLine2', 'RegAddress.PostTown', 'RegAddress.County',
       'RegAddress.Country', 'RegAddress.PostCode', 'CompanyCategory',
       'CompanyStatus', 'CountryOfOrigin', 'DissolutionDate',
       'IncorporationDate', 'Accounts.AccountRefDay',
       'Accounts.AccountRefMonth', 'Accounts.NextDueDate',
       'Accounts.LastMadeUpDate', 'Accounts.AccountCategory',
       'Returns.NextDueDate', 'Returns.LastMadeUpDate',
       'Mortgages.NumMortCharges', 'Mortgages.NumMortOutstanding',
       'Mortgages.NumMortPartSatisfied', 'Mortgages.NumMortSatisfied',
       'SICCode.SicText_1', 'SICCode.SicText_2', 'SICCode.SicText_3',
       'SICCode.SicText_4', 'LimitedPartnerships.NumGenPartners',
       'LimitedPartnerships.NumLimPartners', 'URI', 'PreviousName_1.CONDATE',
       ' PreviousName_1.CompanyName', ' PreviousName_2.CONDATE',
       ' PreviousName_2.CompanyName', 'PreviousName_3.CONDATE',
       ' PreviousName_3.CompanyName', 'PreviousName_4.CONDATE',
       ' PreviousName_4.CompanyName', 'PreviousName_5.CONDATE',
       ' PreviousName_5.CompanyName', 'PreviousName_6.CONDATE',
       ' PreviousName_6.CompanyName', 'PreviousName_7.CONDATE',
       ' PreviousName_7.CompanyName', 'PreviousName_8.CONDATE',
       ' PreviousName_8.CompanyName', 'PreviousName_9.CONDATE',
       ' PreviousName_9.CompanyName', 'PreviousName_10.CONDATE',
       ' PreviousName_10.CompanyName', 'ConfStmtNextDueDate',
       ' ConfStmtLastMadeUpDate'],
      dtype='object')

In [25]:
def dstrtiyint(x):
    atetime_object = datetime.strptime(x, '%d/%m/%Y')
    atetime_object.year


companies = companiesRaw[['CompanyName', 'RegAddress.PostTown',                           
                          'CompanyCategory', 'CountryOfOrigin', 
                          'CompanyStatus', 'IncorporationDate', 'DissolutionDate',
                          'SICCode.SicText_1'
                          ]]



companies['Year'] = companies['IncorporationDate']
# companies['Year'].apply(dstrtiyint)
# companies['Date'] = pd.to_datetime(companies['IncorporationDate'], format='%d/%m/%Y')
# companies.describe()

companies

<ipython-input-25-6c542ea1c9ad>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companies['Year'] = companies['IncorporationDate']

,CompanyName,RegAddress.PostTown,CompanyCategory,CountryOfOrigin,CompanyStatus,IncorporationDate,DissolutionDate,SICCode.SicText_1,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,Year
0,! LIMITED,SHEFFIELD,Private Limited Company,United Kingdom,Active,29/07/2020,NaN,78300 - Human resources provision and manageme...,0,0,0,0,29/07/2020
1,! LTD,LEEDS,Private Limited Company,United Kingdom,Active,11/09/2012,NaN,99999 - Dormant Company,0,0,0,0,11/09/2012
2,!? LTD,ROMILEY,Private Limited Company,United Kingdom,Active,05/06/2018,NaN,47710 - Retail sale of clothing in specialised...,0,0,0,0,05/06/2018
3,!BIG IMPACT GRAPHICS LIMITED,LONDON,Private Limited Company,United Kingdom,Active,28/12/2018,NaN,18129 - Printing n.e.c.,0,0,0,0,28/12/2018
4,!L PRODUCTIONS LIMITED,CHINGFORD,Private Limited Company,United Kingdom,Active,14/01/2020,NaN,90030 - Artistic creation,0,0,0,0,14/01/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4815732,“SAIL IN GREECE ADVENTURES” LTD,LONDON,Private Limited Company,United Kingdom,Active,26/03/2015,NaN,79120 - Tour operator activities,0,0,0,0,26/03/2015
4815733,“THE GREENHOUSE” COMPANY LTD,SHREWSBURY,Private Limited Company,United Kingdom,Active,10/07/2018,NaN,56101 - Licensed restaurants,0,0,0,0,10/07/2018
4815734,“THE SKULL” SAUCE COMPANY LTD,MUSSELBURGH,Private Limited Company,United Kingdom,Active,28/04/2020,NaN,10840 - Manufacture of condiments and seasonings,0,0,0,0,28/04/2020
4815735,€URO IMPORTS LIMITED,PRESTON,Private Limited Company,United Kingdom,Active,16/08/2012,NaN,46160 - Agents involved in the sale of textile...,0,0,0,0,16/08/2012
4815736,€UROTECH LTD,SKIPTON,Private Limited Company,United Kingdom,Active,04/11/2011,NaN,99999 - Dormant Company,0,0,0,0,04/11/2011

In [13]:
companies.dtypes

CompanyName                        object
RegAddress.PostTown                object
CompanyCategory                    object
CompanyStatus                      object
CountryOfOrigin                    object
IncorporationDate                  object
DissolutionDate                   float64
SICCode.SicText_1                  object
Mortgages.NumMortCharges            int64
Mortgages.NumMortOutstanding        int64
Mortgages.NumMortPartSatisfied      int64
Mortgages.NumMortSatisfied          int64
dtype: object

### Save Data to file

In [7]:
companies.to_csv('companies.csv')

In [8]:
companies_active = companies[companies['CompanyStatus'] == 'Active']
companies_active.to_csv('companies_active.csv')